/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.orm-no-content {
	/* opacity of the text element to half */
	opacity: 0.5;
}
.orm-copy-bibtex {
    width:22px;
	cursor: pointer;
	color: var(--text-muted);
}

.orm-copy-bibtex:hover {
	color: var(--text-accent);
}