/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.orm-view-title {
	font-weight: 600;
	margin-bottom: 0.5rem;
	/* border-bottom: 1px solid #cccccc; */
}

.orm-no-content {
	/* opacity of the text element to half */
	opacity: 0.5;
}

/* Paper display section */

.orm-root-paper{
	border: 1px solid var(--color-base-30);
	border-radius: 0.25rem;
	padding : 0.5rem;
	margin-bottom: 0.5rem;
}
.orm-paper-title{
	margin-bottom: 0.5rem;
}

.orm-paper-authors{
	color: #888;
	margin-bottom: 0.5rem;
}
.orm-paper-buttons{
	width:100%;
	display: flex;
	justify-content: space-between;
	padding-top: 0.6rem;
	border-top: 1px solid var(--color-base-30);
}

.orm-paper-buttons > div {
	font-size: small;
	width:20%;
	cursor: pointer;
	/* text-align: center; */
	color: var(--text-muted);

}
.orm-paper-buttons > div:hover {
	color: var(--text-accent);
}

.orm-reference-list{
	margin:0.5rem 0;
	border-top:1px solid var(--color-base-30) ;
}