/* @settings

name: Reference Map
id: reference-map
settings:
	- 
		id: orm-paper-title-font-size
		title: Reference paper title font size
		type: variable-number-slider
		default: 14
		format: px
		min: 8
		max: 24
		step: 1
	-
		id: orm-paper-title-font-weight
		title: Reference paper title font weight
		type: variable-number-slider
		default: 400
		format: px
		min: 100
		max: 900
		step: 100
	-
		id: orm-paper-author-font-size
		title: Reference paper author font size
		type: variable-number-slider
		default: 12
		format: px
		min: 8
		max: 24
		step: 1
	-
		id: orm-paper-author-font-weight
		title: Reference paper author font weight
		type: variable-number-slider
		default: 400
		format: px
		min: 100
		max: 900
		step: 100
	-
		id: orm-paper-citekey-font-size
		title: Reference paper citekey font size
		type: variable-number-slider
		default: 12
		format: px
		min: 8
		max: 24
		step: 1
	-
		id: orm-paper-citekey-font-weight
		title: Reference paper citekey font weight
		type: variable-number-slider
		default: 400
		format: px
		min: 100
		max: 900
		step: 100
	-
		id: orm-paper-line-thickness
		title: Reference paper line thickness
		type: variable-number-slider
		default: 1
		format: px
		min: 1
		max: 4
		step: 1
	-
		id: orm-paper-title-link-color
		title: Reference paper title link color
		type: variable-color
		format: hex
		default: var(--text-normal)
	-
		id: orm-paper-title-link-hover-color
		title: Reference paper title link hover color
		type: variable-color
		format: hex
		default: var(--text-accent)
	-
		id: orm-paper-author-link-color
		title: Reference paper author link color
		type: variable-color
		format: hex
		default: var(--text-muted)
	-
		id: orm-paper-author-link-hover-color
		title: Reference paper author link hover color
		type: variable-color
		format: hex
		default: var(--text-accent)
	- 
		id: orm-paper-citekey-link-color
		title: Reference paper citekey link color
		type: variable-color
		format: hex
		default: var(--text-muted)
	- 
		id: orm-paper-citekey-link-hover-color
		title: Reference paper citekey link hover color
		type: variable-color
		format: hex
		default: var(--text-accent)
	-
		id: orm-paper-buttons-color
		title: Reference paper buttons color
		type: variable-color
		format: hex
		default: var(--icon-color)
	-
		id: orm-paper-buttons-hover-color
		title: Reference paper buttons hover color
		type: variable-color
		format: hex
		default: var(--text-accent)
	-
		id: orm-paper-line-color
		title: Reference paper line color
		type: variable-color
		format: hex
		default: var(--color-base-30)
		
*/
body {
	--orm-paper-title-font-size: small;
	--orm-paper-author-font-size: small;
	--orm-paper-title-font-weight: 400;
	--orm-paper-author-font-weight: 400;
	--orm-paper-abstract-font-size: small;
	--orm-paper-abstract-font-weight: 400;
	--orm-paper-citekey-font-size: small;
	--orm-paper-citekey-font-weight: 400;
	--orm-paper-line-thickness: 1px;
	--orm-paper-title-link-color: var(--text-normal);
	--orm-paper-title-link-hover-color: var(--text-accent);
	--orm-paper-author-link-color: var(--text-muted);
	--orm-paper-author-link-hover-color: var(--text-accent);
	--orm-paper-citekey-link-color: var(--text-muted);
	--orm-paper-citekey-link-hover-color: var(--text-accent);
	--orm-paper-abstract-color: var(--text-muted);
	--orm-paper-buttons-color: var(--icon-color);
	--orm-paper-buttons-hover-color: var(--text-accent);
	--orm-paper-line-color: var(--color-base-30);
}

.orm-view-title {
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.orm-no-content {
	text-align: center;
	opacity: 0.5;
}

.orm-no-content-subtext {
	border: var(--orm-paper-line-thickness) solid var(--orm-paper-line-color);
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: var(--font-ui-small);
	font-weight: var(--font-medium);
	color: var(--text-faint);
	margin-top: 0.5rem;
}

/* ReferenceMapList */
.orm-reference-map {
	display: block;
}

/* RootPaperCard */
.orm-root-paper {
	border: var(--orm-paper-line-thickness) solid var(--orm-paper-line-color);
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	position: relative;
}

/* Paper Heading */
.orm-paper-title {
	font-size: var(--orm-paper-title-font-size);
	font-weight: var(--orm-paper-title-font-weight);
	cursor: pointer;
	padding-bottom: 0.25rem;
}

.orm-paper-title a {
	color: var(--orm-paper-title-link-color);
	text-decoration: none;
}

.orm-paper-title a:hover {
	color: var(--orm-paper-title-link-hover-color);
}

.orm-paper-abstract {
	display: block;
	font-size: var(--orm-paper-abstract-font-size);
	color: var(--orm-paper-abstract-color);
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.orm-paper-authors {
	font-size: var(--orm-paper-author-font-size);
	font-weight: var(--orm-paper-author-font-weight);
	display: block;
}

.orm-paper-authors a {
	color: var(--orm-paper-author-link-color);
	text-decoration: none;
}

.orm-paper-authors a:hover {
	color: var(--orm-paper-author-link-hover-color);
}

.orm-paper-link-citekey {
	font-size: var(--orm-paper-citekey-font-size);
	font-weight: var(--orm-paper-citekey-font-weight);
	display: block;
	padding-top: 0.25rem;
	word-break: break-all;
}

.orm-paper-link-citekey a {
	color: var(--orm-paper-citekey-link-color);
	text-decoration: none;
}

.orm-paper-link-citekey a:hover {
	color: var(--orm-paper-citekey-link-hover-color);
}


.orm-paper-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.orm-paper-buttons>div {
	font-size: small;
	text-align: left;
	min-width: 16%;
	padding: 0.25rem;
	color: var(--orm-paper-buttons-color);
}

.orm-paper-buttons>.orm-openaccess a {
	color: var(--orm-paper-buttons-color);
}

.orm-paper-buttons>.orm-openaccess a:hover {
	color: var(--orm-paper-buttons-hover-color);
}

.orm-button-disable {
	opacity: 0.3;
}

.orm-paper-buttons>.orm-copy-metadata-one,
.orm-copy-metadata-two,
.orm-copy-metadata-three,
.orm-references,
.orm-citations {
	cursor: pointer;
}

.orm-paper-buttons>.orm-copy-metadata-one:hover,
.orm-copy-metadata-two:hover,
.orm-copy-metadata-three:hover,
.orm-references:hover,
.orm-citations:hover {
	color: var(--orm-paper-buttons-hover-color);
}

/* Paper List */
.orm-paper-list {
	margin: 0.5rem 0;
}

.orm-paper-list .orm-paper-heading {
	border-top: var(--orm-paper-line-thickness) solid var(--orm-paper-line-color);
	padding-top: 0.5rem;
	margin-top: 0.5rem;
}

.orm-loading-puff {
	text-align: center;
}

.orm-paper-list-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.orm-search-form {
	width: 100%;
}

.orm-search-input {
	width: 100%;
	border: none;
	padding: 0;
}

.orm-loading {
	text-align: center;
}

.orm-loading-puff {
	display: block;
	text-align: center;
	width: 100%;
	height: 20px;
}

/** Settings Dialog **/
.d-none {
	display: none;
}

.orm-PathLoading,
.orm-PathError,
.orm-PathSuccess {
	font-size: 14px;
}

.orm-PathLoading {
	color: var(--text-muted);
}

.orm-PathError {
	color: var(--text-error);
}

.orm-PathSuccess {
	color: var(--text-accent);
}